#form{
  width : 60%;
  margin: auto;
  border: 1px solid;
}

input{
    display: block;
    width: 70%;
    margin: 5px auto;
}

button{
    margin: auto;
    width: max-content;
    display: block;
    margin-bottom: 22px;
}